a { color: #ccc; cursor: pointer; text-decoration: none; }

html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.control {
    position: fixed;
    z-index: 2;
    background-color: rgba(97, 184, 255, 0.48);
    padding: 10px;
    padding-top: 10px;
    left: 50%;
    width: 400px;
    text-align: center;
    margin-left: -200px;
}

.but {
    cursor: pointer;
    width: 30px;
    margin: 4px;
    color: rgb(242, 253, 255);
    text-shadow: 1px 1px #5d939b;
    font-family: helvetica;
    font-size: 12px;
    float: left;
}

.active {
    text-decoration: underline;
}

canvas {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    cursor: pointer;
}
